.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  gap: 50px;
  list-style: none;
}

.menu__list {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__list:hover,
.menu__list:focus {
  color: #2196f3;
}

.header__line::after {
  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  top: 43px;
  opacity: 1;
}

.header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.mail__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  text-decoration: none;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #757575;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail__header:hover {
  color: #2196f3;
}

.mail__header:focus {
  color: #2196f3;
}

.mail__header--enveloper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  fill: #757575;
}

.mail__header--enveloper {
  fill: currentColor;
}

.mail__header--enveloper:hover,
.mail__header--enveloper:focus {
  fill: currentColor;
}

.telephone__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  text-decoration: none;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #757575;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.telephone__header:hover {
  color: #2196f3;
}

.telephone__header:focus {
  color: #2196f3;
}

.telephone__header--smartphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
  fill: #757575;
}

.telephone__header--smartphone {
  fill: currentColor;
}

.telephone__header--smartphone:hover,
.telephone__header--smartphone:focus {
  fill: currentColor;
}

.logo__header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: #000000;
  text-decoration: none;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  gap: 50px;
  list-style: none;
}

.menu__list {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__list:hover,
.menu__list:focus {
  color: #2196f3;
}

.header__line::after {
  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  top: 43px;
  opacity: 1;
}

body {
  font-family: "Roboto";
}

span {
  color: #2196f3;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding-left: 0;
}

/* reset end *//*# sourceMappingURL=main.css.map */