.graphics {
    display: flex;
    align-items: center;
    padding-top: 94px;

    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;;
    }
}

.graphics__items {
    display: flex;
    gap: 30px;
    list-style: none;

    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
       
    }

    @media screen and (max-width: 767px) {
            flex-direction: column;
        }
}


.graphics__items--list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
       
        min-width: 354px;
        height: 120px;
    }


    @media screen and (max-width: 767px) {
        width: 100%;
        height: 120px;
        }
   

}

.graphics__title {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    list-style: none;
    color: #212121;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.graphics__explain {
    font-weight: 400;
    font-size: 14px;
    width: 270px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    list-style: none;
    color: #757575;

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}