.header {
    display: flex;
    align-items: center;
    height: 80px;

    @media screen and (max-width: 1199px) {
        height: 60px;
    }
       
}


.header__menu {
    display: flex;
    padding-left: 0px;
    align-items: center;
    margin-right: auto;
    gap: 50px;
    list-style: none;

}

.menu__list {
    position: relative;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: #212121;
    text-decoration: none;

    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: #2196f3;
    }

         @media screen and (max-width: 767px) {
             display: none;
         }
}

.header__line::after {
    position: absolute;
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    top: 43px;

    opacity: 1;

    @media screen and (max-width: 1199px) {
        margin-top: -10px;
    }
}


.header__group {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 1199px) {
        display: block;
        font-size: 12px;
        line-height: calc(14/12);
        letter-spacing: 0.02em;
    }

     @media screen and (max-width: 767px) {
        display: none;
    }
}

.mail__header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-decoration: none;
    letter-spacing: 0.02em;
    display: flex;
    gap: 10px;
    color: #757575;

    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: #2196f3;
    }

        @media screen and (max-width: 1199px) {
            padding-bottom: 10px;
        }
}

.mail__header--enveloper {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 10px;
    fill: #757575;

    &:hover,
    &:focus {
        fill: currentColor;
    }
}

.mail__header--enveloper {
    fill: currentColor;
}

.telephone__header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-decoration: none;
    letter-spacing: 0.02em;

    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 10px;
    color: #757575;

    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #2196f3;
    }
}

.telephone__header--smartphone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    fill: #757575;

    &:hover,
    &:focus {
        fill: currentColor;
    }
}

.telephone__header--smartphone {
    fill: currentColor;
}

