.hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient( rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../img/hero.jpg);

    }   


    @media screen and (max-width: 1199px) {
        height: 400px;
        padding-top: 80px;
        padding-bottom: 80px;
        margin: 0 auto;
        
        
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/Headertablet.jpg);

         background-position: center;
        background-size: cover;
    }

    @media screen and  (max-width:767px) {
        
        height: 400px;
        padding-top: 60px;
        padding-bottom: 60px;
        margin: 0 auto;
       
        background-image: linear-gradient( rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/Headerimg.jpg);

       background-position: center;
       background-size: cover;
    }

}


.hero__image {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;

    @media screen and (min-width: 1200px) {
       
        font-size: 44px;
        line-height: calc(60 / 44);
    }

    @media screen and (max-width: 1199px) {
        font-size: 26px;
        line-height: calc(42/26);
        width: 360px;
    }

    @media screen and (max-width: 767px) {
        font-size: 26px;
        line-height: calc(42/26);
        width: 360px;   
    }
}

.hero__btn {
    align-items: center;
    padding: 10px 32px;
    min-width: 216px;
    min-height: 50px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    text-align: center;
    cursor: pointer;
    border-style: none;
    margin-top: 30px;
    letter-spacing: 0.03em;
    background-color: #2196f3;
    color: #ffffff;
}