.logo__header {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    margin-right: 93px;
    color: #000000;
    text-decoration: none;

    @media screen and (min-width: 768px) {
        margin-right: 87px;
        font-size: 24px;
        line-height: calc(28/24);
        letter-spacing: 0.03em;
    }
    @media screen and (min-width: 480px) {
        
    }
       
}