.team {
    display: flex;
    flex-direction: column;
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;


    @media screen and (max-width: 1199px) {
        padding-top:60px;
        padding-bottom: 60px;
    }
}

.team__title {
    background: #f5f5f5;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
    color: #212121;

    @media screen and (max-width: 1199px) {
            font-weight: 700;
            font-size: 28px;
            line-height: calc(33/28);
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            margin-bottom: 30px;
        }
}

.team__list {
    display: flex;
    gap: 30px;
    background: #f5f5f5;
    list-style: none;

        @media screen and (min-width: 768px) and (max-width:1199px) {
            display: flex;
            flex-wrap: wrap;
            
            margin-bottom: -30px;
        }
        

    @media screen and (min-width:320px) and (max-width: 767px) {
            flex-direction: column;
            
        }
}

.team__list--color {

    background-color: #FFFFFF;

            @media screen and (min-width: 768px) and (max-width:1199px) {
                flex-basis: calc((100% - 2 * 30px) / 2);


                

                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                    0px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 0px 0px 4px 4px;
            }
    
            // @media screen and (min-width: 1140px) {
            //     flex-basis: calc((100% - 3 * 30px) / 3);
            // }
    
            // &:not(:last-child) {
            //     @media screen and (max-width: 767px) {
            //         margin-bottom: 30px;
            //     }


            
        
   
    
}

.team__list--name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #212121;

   
}

.team__list--position {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 16px;
    color: #757575;
}

.team__list--socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
    list-style: none;
}

.team__list--link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: #ffffff;
    color: #afb1b8;

    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team__list--link:hover,
.team__list--link:focus {
    background-color: #2196f3;
    color: #ffffff;
}

.team__list--icons {
    fill: currentColor;
}